* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.3rem;
}

.container {
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  margin: 50px;
}

.display {
  height: 150px;
  background-color: black;
  border-radius: 10px;
}

.buttons {
  height: 450px;
  background-color: gray;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}
.button {
  background-color: blueviolet;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  border-radius: 15px;
}
